body {
    background-color: gray;
}

.appbar {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 32px;
}